{% extends 'PIDEVCrowdRiseBundle::layout.html.twig' %}

{% block content %}
    <br/><br/><br/><br/><br/>
    <div class="jumbotron">
        <div class="container alert alert-danger text-center ">
            <h2>Vous n'avez pas le droit d'accéder a cette fonctionnalité!</h2>
        </div>
    </div>
            <div></div>
        {% endblock content %}
        
