{% extends 'PIDEVCrowdRiseBundle::layout.html.twig' %}
{% block content %}
    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>
    <div class="extra-space-l" style="background-color: whitesmoke"></div>


    <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-color: whitesmoke">

        <div class = "container slider-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <h2>Modifier la solution</h2>

                    <div class="panel panel-grey wow bounceInLeft">
                        <div class="panel-heading"></div>
                        <div class="panel-body pan">
                            <form action="#">
                                <div class="form-body pal">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-icon">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                    <input type="text" placeholder="Entrez un titre" class="form-control" value="methode1" required="required"/> </div>
                                                    
                                                    <div class="extra-space-m" style="background-color: white"></div>
                                                    
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-group">

                                        <div class="input-icon">
                                            <i class="glyphicon glyphicon-edit"></i>
                                            <textarea rows="10" placeholder="Ajoutez une description" class="form-control" required="required">methode</textarea></div>
                                    </div>
                                </div>
                                <div class="form-actions text-right pal">
                                    <button type="submit" class="btn btn-primary" style="background-color: #363940">
                                        Enregistrer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}

