


<div class="modal scroll-fix fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">



            <div class="panel-footer col-sm-12 col-md-12 ">
                <p class="lead"><strong>Se connecter</strong></p>
            </div>
            <div>
                {% trans_default_domain 'FOSUserBundle' %}

                {% block fos_user_content %}
                    <p>{{ 'resetting.password_already_requested'|trans }}</p>
                {% endblock fos_user_content %}
            </div>
            <div class="panel-footer text-center col-sm-12 col-md-12">

                {#<li> <a class="col-sm-6 col-md-12 btn btn-link" href="fos_user_registration_register">S'inscrire</a></li>#}
                </ul>
            </div>


        </div>
    </div>
</div>