{% extends 'PIDEVCrowdRiseBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <br/><br/><br/><br/><br/>
    <div class="jumbotron">
        <div class="container alert alert-success text-center ">


            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
            <button class="btn btn-info"><a href="{{ path('pidev_profil_ajouter') }}" class="button" role="button">Ajouter Votre Profil</a></button>
        </div>
    </div>
            <div></div>
        {% endblock content %}
        
