{% extends "::base.html.twig" %}

{% block title %}PIDEVCrowdRiseBundle:Notification:createNotification{% endblock %}

{% block body %}
<h1>Welcome to the Notification:createNotification page</h1>
{% endblock %}
