{# empty Twig template #}
{% extends 'PIDEVCrowdRiseBundle::layout.html.twig' %}
{% block content %}
    <section id="portfolio-section" class="page bg-style1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio">
                        <!-- Begin page header-->
                        <div class="page">
                            <div class="container">
                                <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                    <h2>Modification du profil</h2>
                                </div>
                            </div>
                            <!-- End page header-->
                            <div class="col-md-offset-4"><h1> Le profil a été suprimer</h1></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}